
<div>
    <div fxFlex="100">
                
        <div fxLayout="column" fxLayoutGap="20px" *ngIf="!!article">

            <div fxFlex="100">
                <a [routerLink]="['/posts']" >< Posts</a>
            </div>

            <app-card [article]="article" [isLink]="false"></app-card>

            <h2 fxFlex="100">Actions</h2>

            <div fxFlex="100">
                <app-comments [comments]="comments"></app-comments>
            </div>
        </div>      
    </div>        
</div>