<div>

  <div fxLayout="row">
      <div fxFlex="100">
          <app-search-input [userList]="postsList"
                            (searchUsers)="searchEvent($event)"></app-search-input>
      </div>
  </div>
  
  <div fxLayout="column" fxLayoutGap="20px" style="margin-top: 20px;"  >

      <div  *ngFor='let post of postsListDisplay' >
        <app-card *ngIf="!!post.display" [article]="post" [isLink]="true"></app-card>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 20px;"  >
        <mat-paginator [length]="postsList.length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPaginationChange($event)"></mat-paginator>
      </div>

  </div>
  
</div>
